@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box; 
}

:root {
    --fuente-Mina: 'Mina', sans-serif;
    --fuente-Noto: 'Noto Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1277px;
    margin: 0 auto;
}

.marquee_header{
    font-family: var(--fuente-Noto);
    font-weight: 700;
    font-size: 20px;
    color: #000;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #F8C301;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    &::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 160px;
        width: 100%;
        z-index: -1;
        background-color: #fff;
        transition: transform 0.5s ease;
        transform: translateY(-100%);
    }
    .anuncio{
        font-family: var(--fuente-Noto);
        font-weight: 700;
        font-size: 20px;
        color: #000;
        padding-top: 10px;
        padding-bottom: 3px;
        text-align: center;
        position: relative;
        z-index: -1;
        &::before{
            content: '';
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #F8C301;
        }
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            li{
                display: inline-block;
                margin: 0 17px;
                a{
                    font-family: var(--fuente-Noto);
                    font-weight: 700;
                    font-size: 20px;
                    color: #000;
                    text-decoration: none;
                    img{
                        height: 25px;
                    }
                }
                ul{
                    display: none;
                    position: absolute;
                    padding-top: 30px;
                    &::before{
                        content: '';
                        width: 1000%;
                        height: calc(100% - 30px);
                        background-color: #E9F5EB;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-40%);
                        z-index: -1;
                    }
                    li{
                        padding: 40px 0;
                        a{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                width: auto;
                                height: auto;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
            li.fex{
                position: relative;
            }
            li.select{
                a{
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 40px;
                        height: 40px;
                        background-color: #F8C301;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
            }
            li.fex:hover{
                ul{
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
        .part2{
            ul{
                li{
                    margin: 0 11px;
                }
            }
        }
    }
}

header.sticky::before{
    transform: translateY(0%);
}


section.home{
    padding-top: 280px;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: #E9F5EB;
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 65px;
        color: #000;
        max-width: 1107px;
        text-align: center;
        span{            
            color: #1F9331;
        }
    }
    p{
        font-family: var(--fuente-Noto);
        font-weight: 400;
        font-size: 20px;
        color: #000;
        text-align: center;
        max-width: 920px;
    }
    .marquee_home{
        overflow: hidden;
        margin-top: 90px;
        span{
            margin: 0 40px;
        }
        .js-marquee{
            display: flex;
            align-items: center;
        }
    }
}

.buttonAmarillo{
    padding: 15px 40px;
    background-color: #F8C301;
    color: #000;
    text-decoration: none;
    font-family: var(--fuente-Noto);
    font-weight: 700;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 50px;
    border: none;
}

section.line_Productos{
    padding: 100px 0;
    padding-bottom: 175px;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
        color: #000;
        text-align: center;
    }
    .content{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        grid-gap: 200px;
        .card{
            a{
                display: flex;
                grid-gap: 340px;
                position: relative;
                text-decoration: none;
            }
            .part{
                width: 50%;
                a{
                    font-family: var(--fuente-Mina);
                    font-weight: 700;
                    font-size: 35px;
                    color: #4CA95A;
                    text-decoration: none;
                }
                p{
                    font-family: var(--fuente-Noto);
                    font-weight: 400;
                    font-size: 20px;
                    color: #000;
                }
                .title{
                    display: flex;
                    align-items: center;
                    h3{
                        font-family: var(--fuente-Mina);
                        font-weight: 700;
                        font-size: 35px;
                        color: #4CA95A;
                    }
                    img{
                        margin-left: 15px;
                    }
                }
            }            
            .producto{
                position: absolute;
                top: 50%;
                width: auto;
                background-color: #fff;
                transform: translateY(-50%);
                .item{
                    background: rgba(248, 195, 1, 0.5);
                    border-radius: 138px;
                    width: 100%;
                    padding: 20px 0;
                    width: 670px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }            
        }
        .producto.left{
            left: 0;
        }
        .producto.right{
            right: 0;
        }
    }
}

section.beneficios{
    padding: 100px 0;
    background-color: #4CA95A;
    .container{
        display: flex;
        align-items: center;
    }
    ul{
        li{
            list-style: none;
            font-family: var(--fuente-Mina);
            font-weight: 700;
            font-size: 45px;
            color: #fff;
            display: flex;
            align-items: center;
            margin: 50px 0;
            opacity: 0.5;
            transition: 0.2s linear;
            width: fit-content;
            img{
                margin: 0 15px;
            }
        }
        li.select{
            opacity: 1;
        }
        li:first-child{
            margin-top: 0;
        }
        li:last-child{
            margin-bottom: 0;
        }
    }
    .part1{
        width: 60%;
    }
    .part2{
        width: 40%;
        display: flex;
        justify-content: flex-end;
        img{
            border-radius: 20px;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
        img.select{
            opacity: 1;
            position: relative;
        }
    }
}


section.productosHome{
    padding: 100px 0;
    overflow: hidden;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
        color: #000;
        text-align: center;
    }
    .datos{
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;
        position: relative;
        ul{
            display: flex;
            grid-gap: 60px;
            li{
                display: inline-block;
                cursor: pointer;
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 35px;
                color: #4CA95A;
                position: relative;
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 9px;
                    width: 100%;
                    height: 4px;
                    background-color: #4CA95A;
                    border-radius: 2px;
                }
            }
            li.select::before{
                content: '';
            }
        }
        .flechas{
            .swiper-button-next, .swiper-button-prev {
                z-index: 1;
                &::after{
                    content: none;
                }
            }
            .swiper-button-next{
                right: 0;                
                width: 38px;
                height: 27px;
                background-image: url(../img/btn-next.svg) !important;
                background-repeat: no-repeat !important;
                background-size: 100% !important;
            }
            .swiper-button-prev{
                right: 80px;
                left: initial;
                width: 38px;
                height: 27px;
                background-image: url(../img/btn-prev.svg) !important;
                background-repeat: no-repeat !important;
                background-size: 100% !important;
            }
        }
    }
    .swiper{
        margin-top: 50px;
        transform: translateX(0%);
        overflow: initial;
        
    }
    a.buttonAmarillo{
        display: flex;
        margin: 0 auto;
        width: fit-content;
        margin-top: 50px;
    }
}

.itemProducto {
    a{
        padding: 30px 38px;
        background: rgba(31, 147, 49, 0.1);
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        img{
            width: 100%;
        }
        .buttonAmarillo{
            margin-top: 30px;
            width: fit-content;
            cursor: pointer;
            pointer-events: all;
        }
        p{
            margin-top: 20px;
            font-family: var(--fuente-Mina);
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            color: #000;
            line-height: 139.5%;
        }
        span{
            margin-top: 20px;
            font-family: var(--fuente-Mina);
            font-weight: 700;
            font-size: 25px;
            color: #7B7B7B;
        }
    }
}

section.banner{
    padding: 100px 0;
    background-color: #FCE180;
    position: relative;
    .figura1{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        grid-gap: 50px;
        position: relative;
        z-index: 2;
        .part1{
            width: 60%;
            margin-bottom: 50px;
            h2{
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 45px;                
            }
            p{
                font-family: var(--fuente-Noto);
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                margin-top: 20px;
            }
            a{
                font-family: var(--fuente-Noto);
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                padding: 16px 40px;
                border: 2px solid #000000;
                color: #000;
                border-radius: 39px;
                text-decoration: none;
                display: block;
                width: fit-content;
                margin-top: 50px;
            }
        }
        .part2{
            width: 40%;
            .img{
                position: relative;
                img{
                    position: relative;
                    z-index: 2;
                }
                .fondo{
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    left: 68px;
                }
            }
        }
    }
}

.banner2{
    padding: 100px 0;
    padding-bottom: 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        grid-gap: 70px;
        .part1{
            display: flex;
        }
        .part2{
            h2{
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 45px;
            }
            p{
                padding-top: 20px;
                font-family: var(--fuente-Noto);
                font-weight: 400;
                font-size: 20px;
            }
            .buttonAmarillo{
                display: block;
                width: fit-content;
            }
        }
    }
}

footer{
    background-color: #4CA95A;
    padding-top: 50px;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .listas{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        ul{
            li{
                font-family: var(--fuente-Noto);
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                margin: 5px 0;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
            li:first-child{
                margin-top: 0;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        .part3 a{
            display: flex;
            align-items: center;
            font-family: var(--fuente-Noto);
            font-weight: 400;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            margin-top: 20px;
            img{
                margin-right: 10px;
            }
        }
    }
    .pie{
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        P{
            color: #fff;
            font-family: var(--fuente-Noto);
            font-weight: 400;
            font-size: 16px;
            display: flex;
            align-items: center;
        }
        .corazon{
            margin: 0 5px;
        }
    }
}


section.productosPage{
    padding-top: 280px;
    padding-bottom: 100px;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
        color: #000;
        text-align: center;
    }
    .menus{
        margin-top: 30px;
        ul{
            display: flex;
            li{
                display: inline-block;
                margin: 0 28px;
                display: flex;
                align-items: center;
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 35px;
                color: #4CA95A;
                cursor: pointer;
                position: relative;
                img{
                    margin-left: 8px;
                }
            }
            li::before {
                position: absolute;
                left: 0;
                bottom: 9px;
                width: 100%;
                height: 4px;
                background-color: #4CA95A;
                border-radius: 2px;
            }
            li.select::before {
                content: '';
            }
            li:first-child{
                margin-left: 0;
            }
            li:last-child{
                margin-right: 0;
            }
        }
        .submenuCategory{
            margin-top: 30px;
            display: none;
            .content{
                display: flex;
                grid-gap: 30px;
            }
            button{
                img{
                    margin-right: 7px;
                    pointer-events: none;
                }
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 25px;
                color: #000;
                background: transparent;
                border-radius: 60px;
                padding: 15px 35px;
                border: 3px solid #F8C301;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
            button.select{
                background-color: #F8C301;
            }
        }
    }
    .listaProductos{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 50px;
    }
}

section.producto{
    padding-top: 280px;
    padding-bottom: 100px;
    .container{
        display: flex;
        justify-content: space-between;
        .part1{
            width: 50%;
            a{
                display: block;
                width: fit-content;
                display: flex;
                align-items: center;
                font-family: var(--fuente-Noto);
                font-weight: 700;
                font-size: 25px;
                text-decoration: none;
                color: #000;                
                img{
                    width: auto;
                    margin-right: 10px;
                }
            }
            img{
                width: 100%;
            }
        }
        .part2{
            width: 50%;
            h1{
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 45px;
                color: #000;
            }
            p{
                font-family: var(--fuente-Noto);
                font-weight: 700;
                font-size: 25px;                
                color: #4CA95A;
                margin: 20px 0;
                margin-top: 10px;
            }
            .precio{
                padding: 15px 0;
                position: relative;
                p{
                    font-family: var(--fuente-Mina);
                    font-weight: 700;
                    font-size: 40px;
                    color: #7B7B7B;
                    margin: 0;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #F8C301;
                    border-radius: 30px;
                    top: 0;
                    left: 0;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #F8C301;
                    border-radius: 30px;
                    bottom: 0;
                    left: 0;
                }
            }
            button{
                cursor: pointer;
            }
            .tabs{
                margin-top: 50px;
                ul{
                    display: flex;
                    grid-gap: 50px;
                    li{
                        font-family: var(--fuente-Mina);
                        font-weight: 700;
                        font-size: 25px;
                        color: #1F9331;
                        list-style: none;
                        position: relative;
                        cursor: pointer;
                    }
                    li::before {
                        position: absolute;
                        left: 0;
                        bottom: 0px;
                        width: 100%;
                        height: 4px;
                        background-color: #4CA95A;
                        border-radius: 2px;
                    }
                    li.select::before {
                        content: '';
                    }
                }
                P{
                    font-family: var(--fuente-Noto);
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                    margin: 0;
                    margin-top: 15px;
                    display: none;
                }
            }
        }
    }
}

section.bannerInterna{
    .part1{
        background-color: #4CA95A;
        padding: 25px 0;
        ul{
            display: flex;
            grid-gap: 50px;
            li{
                list-style: none;
                font-family: var(--fuente-Mina);
                font-weight: 700;
                font-size: 30px;
                color: #fff;
            }
        }
    }
    .part2{
        background-color: #E9F5EB;
        .container{
            padding: 50px 0;
            .content{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 60px;
                row-gap: 60px;
            }            
            .item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                .img{
                    min-height: 152px;
                    display: flex;
                    align-items: center;
                }
                img{
                    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
                }
                p{                    
                    margin-top: 15px;
                    font-family: var(--fuente-Noto);
                    font-weight: 700;
                    font-size: 20px;
                    color: #000;
                    text-align: center;
                }
            }
            .textoRef{
                margin-top: 50px;
                font-family: var(--fuente-Noto);
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}

section.presentaciones{
    padding: 100px 0;
    padding-bottom: 50px;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
        color: #000;
    }
    .itemProducto{
        margin-top: 30px;
        max-width: 406px;
        img{
            height: 204px;
            width: auto;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .part1{
            width: 50%;
        }
        .part2{
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

section.instrucciones{
    padding: 50px 0;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
    }
    img{
        margin-top: 50px;
        width: 100%;
    }
}

section.relacionados{
    padding: 50px 0;
    padding-bottom: 100px;
    h2{
        font-family: var(--fuente-Mina);
        font-weight: 700;
        font-size: 45px;
    }
    .productosRelacionados{
        margin-top: 35px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .flechas .swiper-button-next,
    .flechas .swiper-button-prev {
        z-index: 1;
    }
    .flechas .swiper-button-prev {
        right: 80px;
        left: initial;
        width: 38px;
        height: 27px;
        background-image: url(../img/btn-prev.svg) !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }
    .flechas .swiper-button-next {
        right: 0;
        width: 38px;
        height: 27px;
        background-image: url(../img/btn-next.svg) !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after{
        content: none;
    }
}